# Archivos de Python compilados
__pycache__/
*.pyc

# Archivos de entorno y claves (¡Seguridad!)
.env
api_keys.py

# Archivos de salida (Output)
*.xlsx
*.csv

# Carpetas de sistema
.vscode/
.DS_Store
